.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}
.App-Body {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.App-Content {
  flex: 1;
}
.App-header,
.App-Footer {
  background-color: #282c34;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: white;
}
/*Nav*/
.App-Nav {
  background-color: #282c34;
  color: white;
}

.ant-menu-item:hover {
  color: tomato;
}

.Login-Form,
.Signup-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
/*Profile*/
.Profile {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ProfileCard {
  width: fit-content;
  margin: 50px;
  width: 500px;
  background-color: aliceblue;
}

.ProfileContent {
  justify-content: space-between;
  padding: 10px;
}

.ProfileActions {
  margin-top: 10px;
  padding: 10px;
}
.ProfileActions .ant-btn {
  margin: 10px;
}
